<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Users</title>
  </head>
  <body>
      <!-- content should appear here. -->
      {{{markup}}}
  </body>
</html>
