.usersMain {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
  width: 90vw;
  margin: 0 auto;
  font-family: sans-serif;
}

.userMain {
  
}

h2 {
  color: DodgerBlue;
}

a {
  text-decoration: none;
  color: black;
}

.robot {
  display: grid;
  grid-template-rows: 150px 30px 1fr;
  justify-content: space-around;
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  border: 1px solid lightgray;
}

.robot img {
  margin: auto;
}

.unemp {
  color: red;
}
